birre.log
build/
.cache/
.claude/
.coverage
dist/
downloads/
*.egg-info
.installed.cfg
lib/
lib64/
*.local.toml
MANIFEST
.mcp.json
parts/
*.pyc
__pycache__/
*.pyd
*.pyo
.pytest_cache
.Python
scripts/
sdist/
.serena/
.uv?cache/
var/
.venv/
.vscode/
wheels/
